.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(212, 45%, 89%);
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 375px;
    border-radius: 20px;
    margin: 15vh auto;
    padding: 2vh;
    box-sizing: border-box;
}

.qr-code {
    border-radius: 20px;
    width: 100%;
}