.attribution {
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 3vh;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

body {
    background-color: hsl(212, 45%, 89%);
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.component-background {
    width: 17.21875em;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1em;
    margin: 15vh 7vw;
    padding: 1em;
}

.qr-code {
    border-radius: 0.7em;
    width: 100%;
}

h1 {
    color: hsl(218, 44%, 22%);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
}

p {
    color: hsl(214, 6%, 57%);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}